<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Denotrain Demo - Login</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' type='text/css' media='screen' href='static/main.css'>
</head>
<body>
  <h1>Log In</h1>
  <p>You don't have an account? <a href="/register">Register here!</a></p>
  <form method="POST" action="/login">
    <label>
      Username:<br>
      <input name="username" type="text">
    </label>
    <label>
      Password:<br>
      <input name="password" type="password">
    </label>
    <button type="submit">Submit</button>
    <button type="reset">Reset</button>
  </form>
</body>
</html>